# Node.js
node_modules
npm-debug.log*

.env
.env.development
.env.production

logs

pids

node_modules/

*.tgz

.yarn-integrity

.git
.gitignore

Dockerfile*
docker-compose*.yml
.dockerignore

README.md
docs/
*.md

.vscode/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.neon_local/

dist/
build/

tmp/
temp/